@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

.drum-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 3em);
  grid-template-rows: repeat(5, 3em);
  gap: 1px 1px;
  grid-template-areas: ". . drum-q . ."". drum-a . drum-w .""drum-z . drum-s . drum-e"". drum-x . drum-d ."". . drum-c . .";
}

*,
*::before,
*::after {
  outline: none;
  padding: 0;
  margin: 0;
}

.drum-q {
  grid-area: drum-q;
}

.drum-w {
  grid-area: drum-w;
}

.drum-e {
  grid-area: drum-e;
}

.drum-a {
  grid-area: drum-a;
}

.drum-s {
  grid-area: drum-s;
}

.drum-d {
  grid-area: drum-d;
}

.drum-z {
  grid-area: drum-z;
}

.drum-x {
  grid-area: drum-x;
}

.drum-c {
  grid-area: drum-c;
}

@media all and (-ms-high-contrast: none) {
  .drum-grid-container {
    display: -ms-grid;
    -ms-grid-columns: repeat(5, 1fr);
    -ms-grid-rows: repeat(5, 1fr);
  }

  .drum-q {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

  .drum-w {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }

  .drum-e {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }

  .drum-a {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .drum-s {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

  .drum-d {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }

  .drum-z {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .drum-x {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .drum-c {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}

body {
  font-family: "Share Tech", sans-serif;
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #182848,
      #4b6cb7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #182848,
      #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-drum-pad {
  transition: 0.1s ease-in;
  font-family: "Share Tech", sans-serif;
  border: none;
  background-color: #182848;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 15px -16px 20px 0px black;
  color: white;
}

@media (max-width: 716px) {
  .display-loop {
    left: -1.65em;
  }

  .display-container {
    flex-direction: column;
  }
}

.display-loop-off {
  transition: 0.2s ease-in-out;
  position: relative;
  box-shadow: 0px 0px 8px 0px inset black;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 3em;
  width: 0.5em;
  top: -0.3em;
}

.display-loop {
  transition: 0.2s ease-in-out;
  position: relative;

  box-shadow: inset 0px 0px 20px 0px #bafc58;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 3em;
  width: 6em;
  top: -0.3em;
}

#display {
  color: #b9e39e;
  text-align: center;
}

.beats-container {
  transition: 0.2s ease-in;
}

#drum-machine {
  transition: 0.2s ease-in;
  align-self: center;
  border: 1px solid #b0a0e6;
  padding: 2em;
  box-shadow: 0px 0px 0px 4px inset #b0a0e6;
  border-radius: 2em;
}

.on-off {
  transform: scale(0.9);
}

.display-container {
  text-align: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: auto;
  position: absolute;
  left: 11em;
  top: 4em;
  right: 8em;
  padding: 0.5em 0em;
}

.on-off button {
  padding: 0.5em 1em;
  background-color: white;
  font-family: "Share Tech", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxControl {
  border: 2px solid #102838;
  border-radius: 7px;
  display: inline-block;
  width: 100px;
  height: 50px;
  padding-top: 1px;
  position: relative;
  vertical-align: middle;
  margin: 0 60px 10px 0;
  color: #297597;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4),
    0 2px 1px -1px rgba(255, 255, 255, 0.7) inset, 8px 0 5px -5px #02425c inset,
    -8px 0 5px -5px #02425c inset;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: #80dce9;
}

.checkboxControl input {
  position: absolute;
  visibility: hidden;
}

.checkboxControl>div {
  background: -webkit-linear-gradient(left,
      #8fd9e4 0%,
      #a0f2fe 53%,
      #69dcf1 56%,
      #33afce 99%,
      #cef5ff 100%);
  background: linear-gradient(to right,
      #8fd9e4 0%,
      #a0f2fe 53%,
      #69dcf1 56%,
      #33afce 99%,
      #cef5ff 100%);
  box-shadow: -2px 0 1px 0 #a6f2fe inset;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);

  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scaleX(0.93);
  -webkit-transform: scaleX(0.93);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

.checkboxControl div:first-letter {
  letter-spacing: 55px;
}

.checkboxControl :checked~div {
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  box-shadow: 2px 0 1px 0 #a6f2fe inset;
  background: -webkit-linear-gradient(left,
      #cef5ff 0%,
      #33afce 1%,
      #69dcf1 47%,
      #a0f2fe 50%,
      #8fd9e4 100%);
  background: linear-gradient(to right,
      #cef5ff 0%,
      #33afce 1%,
      #69dcf1 47%,
      #a0f2fe 50%,
      #8fd9e4 100%);
}

/* bottom shadow of 'upper' side of the button */
.checkboxControl>b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  box-shadow: 0 6px 8px -5px #000;
}

.checkboxControl :checked~b {
  right: auto;
  left: 0;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

/* the light indicator to the right of the button */
.checkboxControl .indicator {
  position: absolute;
  top: 14px;
  right: -20px;
  width: 8px;
  height: 25px;
  box-shadow: 0 0 8px #000 inset;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.checkboxControl .indicator:before {
  content: "";
  display: inline-block;
  margin-top: 8px;
  width: 2px;
  height: 8px;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.checkboxControl :checked~.indicator:before {
  box-shadow: 0 0 7px 6px #bafc58;
  width: 6px;
  background: #f0f9e3;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}